@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";
.container {
  @include flex(center, center, column);
  height: 50vh;
  padding: 30px;
}

.icon {
  color: darken($red, 25%);
  font-size: 70px;
}

.title {
  color: $white;
  font-size: 20px;
  font-weight: $bold;
  padding: 20px 0;
}

.body {
  color: $white;
}
