@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container {
  @include flex(center, center, column);

  .bar {
    @include flex(flex-start, center, row);
    background-color: $primary;
    color: $white;
    gap: 10px;
    height: 60px;
    min-width: 100%;
    padding-left: 20px;
    h3 {
      font-size: 15px;
      font-weight: lighter;
    }
    p {
      font-size: 11px;
    }
    @include responsive(md) {
      gap: 30px;
      padding-left: 50px;
      h3 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .card {
    align-items: center;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    min-height: 400px;
    padding: 15px 15px;
    @include responsive(md) {
      gap: 30px;
      min-height: 800px;
    }
  }
}
.noItems {
  @include flex(center, center, column);

  margin-top: 30px;
  gap: 15px;
}

.noItemsTitle {
  color: $black;
  font-size: 2em;
  font-weight: $bold;
  text-align: center;
}

.noItemsText {
  color: $black;
}
