@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/variable';

.container {
  @include flex(center, center, column);
  border: 1px solid $black;
  height: 300px;
  width: 166px;
  .img {
    height: 200px;
    width: 150px;
    object-fit: contain;
    margin: 8px 0 5px 0;
  }
  @include responsive(md) {
    border: 1px solid $black;
    height: 520px;
    width: 300px;
    .img {
      height: 350px;
      width: 290px;
    }
  }
  .text {
    width: 150px;
    h4 {
      font-size: 11px;
      font-weight: lighter;
      margin: 1px;
    }
    h3 {
      font-size: 12px;
      font-weight: bold;
      margin: 1px;
    }
  
    @include responsive(md) {
      height: 140px;
      width: 280px;

      h4 {
        font-size: 18px;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
      }
      
    }
    .description{
      font-size: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include responsive(md) { font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;}
      
    }
  }
}
.glow {
  &:hover {
    box-shadow: 0 0 2px 2px lighten($primary, 3);
    border-radius: 5px;
    cursor: pointer;
  }
}

.stock {
  @extend %container !optional;
}

.noStock {
  @extend %container !optional;

  filter: grayscale(100%);
  opacity: 0.5;
}
