@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container {
  @include flex(center, center, column);
  background-color: $white;
  width: 100%;

  .title {
    @include flex(flex-start, center, row);
    background-color: $primary;
    width: 100%;

    gap: 15px;
    color: $white;
    height: 60px;
    h4 {
      font-weight: lighter;
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
    .arrow {
      padding-left: 20px;
      cursor: pointer;
    }
  }

  .text {
    @include flex(flex-start, flex-start, column);
    padding: 0 30px 0 30px;

    .textUp {
      @include flex(space-between, center, row);
      width: 100%;
      @include responsive(md) {
        h3 {
          padding-left: 30px;
          font-size: 25px;
        }
        p {
          padding-right: 90px;
          font-size: 20px;
        }
      }
    }
    .textDown {
      p {
        font-size: 15px;
      }
      @include responsive(md) {
        p {
          padding: 0 30px 0 30px;
          font-size: 20px;
        }
      }
    }
  }
  .line {
    @include flex(center, stretch, column);
    border-bottom: 2px solid $primary;
    padding: 15px;
    width: 50%;
    @include responsive(md) {
      width: 80%;
    }
  }
  .button {
    @include flex(flex-start, center, row);
    margin: 30px 0 30px 0;
    padding-left: 30px;
    background-color: $primary;
    color: $white;
    border-radius: 15px;
    height: 60px;
    width: 250px;
    font-weight: bold;
    @include responsive(md) {
      font-size: large;
    }
  }
}
