@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container {
  @include flex(center, center, column);
  background-color: $white;
  min-width: 375px;
  color: $white;
  padding-top: 15px;
  .separator {
    display: none;
  }
}
