@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container {
  @include flex(center, center, column);
  background-color: $white;
  min-width: 375px;
  color: $white;
  padding-top: 15px;
  .separator {
    display: none;
  }
  @include responsive(md) {
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
  }
  @include responsive(xlg) {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
  }
}
