@import "scss/colors";
@import "scss/mixins";
@import "scss/variable";

.container {
  @include flex(flex-start, stretch, column);
  background-color: $primary;
  width: 50%;
  border-radius: 0 15px 15px 0;
  height: 100vh;
  position: fixed;
  z-index: 9999;

  .links {
    padding: 0 15px 0 15px;
    color: $white;
    border-radius: 0 15px 15px 0;
    height: 100%;
  }
  .arrow {
    @include flex(flex-start, stretch, row);
    border-bottom: 2px solid $white;
    padding-top: 15px;
    gap: 15px;
    p {
      font-size: 12px;
    }
    cursor: pointer;
  }
  .about {
    @include flex(space-between, stretch, column);
    height: 85%;
  }
}
