// $white: #FFF;
// $black: #000;
$red: #f00;
$blue: #00f;
$gray: #ccc;

// Custom colors

$disabled: #4e4d4d;
$background: #121212;
$warning: #ffc914;
$success: #85ad87;
$info: #6883ba;
$white: #f4fff8;
$primary: #d62828;
$black: #312f2f;
