// $white: #FFF;
// $black: #000;
$red: #f00;
$blue: #00f;
$gray: #ccc;

// Custom colors

$dark-navy: #262414;
$disabled: #4e4d4d;
$background: #fff;
$warning: #ffc914;
$success: #85ad87;
$info: #6883ba;
$white: #fcfcfc;
$primary: #5a5631;
$black: #312f2f;
